body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #222222;
  }
  
  table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px; /* Agregamos un borde redondeado */
  }
  
  td {
    background-color: #222222;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffffff; /* Aumentamos el ancho del borde */
  }
  td:hover {
    background-color: #ff6f6f;
  }
  
  td:hover:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(139, 0, 0, 0.7);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s;
    z-index: -1;
  }
  
  td:hover:before {
    transform: scale(1);
  }
  
  td:nth-child(5) {
    background-color: #4B0082;
  }
  
  td:nth-child(5):hover {
    background-color: #9932CC;
  }
  
  td:nth-child(5):hover:before {
    background-color: rgba(153, 50, 204, 0.7);
  }
  
  td:nth-child(9) {
    background-color: #ffffff;
  }
  
  td:nth-child(9):hover {
    background-color: #eeeeee;
  }
  
  td:nth-child(9):hover:before {
    background-color: rgba(255, 49, 49, 0.945);
  }
  
  #imagen {
    position: relative;
    overflow: hidden;
  }
  
  #imagen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }
  