body {
  background-color: #f7f7f7;
}
  .titulo {
    text-align: center;
    margin-bottom: 10px;
  }
section p {
  margin-top: 20px;
  text-align: center;
}
/* Estilos del combobox */
.combo-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.combo-container label {
  margin-bottom: 5px;
}

.combo-box {
  position: relative;
}

.combo-box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.combo-box i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #666;
}

/* Estilos del combobox cuando está enfocado */
.combo-box select:focus {
  outline: none;
  border-color: #7FDBFF;
}

.combo-box select:focus + i {
  color: #7FDBFF;
}

/* Estilos del combobox cuando se está seleccionando una opción */
.combo-box select:active,
.combo-box select:hover {
  background-color: #F5F5F5;
}

/* Estilos del borde */
.combo-box select:focus,
.combo-box select:active,
.combo-box select:hover {
  border-color: #FF4136;
}

/* Estilos de la sombra */
.combo-box select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos del icono */
.combo-box i:before {
  content: "\f078";
  font-family: FontAwesome;
  font-size: 14px;
}
.graficas-container {
  display: flex;
  flex-wrap: wrap;
}

.grafica {
  flex-grow: 1;
  height: 500px;
}
#grafica-lineal,
#grafica-barras {
  width: 30%;
}
#mapa-iframe {
  width: 40%;
}
.boton-bienvenida {
  display: inline-block;
  padding: 10px 20px;